/* Header Stuff Follows */

/* Fonts */
/* eb-garamond-regular - latin-ext_latin */
@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/eb-garamond-v15-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/eb-garamond-v15-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/eb-garamond-v15-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/eb-garamond-v15-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/eb-garamond-v15-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/eb-garamond-v15-latin-ext_latin-regular.svg#EBGaramond') format('svg'); /* Legacy iOS */
  }
* {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;

    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}
#header {
    position: fixed;
    background-color: gray;
    height: auto;
    padding-bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
#navmainpage {
    position: fixed;
    top: -17px;
    left: -10px;
    padding-top: 0;
    z-index: 9999;

    ul {
        list-style-type: none;
    }

    a:hover {
        color: #6BFBF7;
    }
}
.activenavbutton {
    background-color: #e2e2e2;
    color: black;
}
.navbutton {
	background-color:black;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
	text-indent:5px;
	border: 1px solid #dcdcdc;
	display:inline-block;
	color:#fff;
	font-size:15px;
	font-style:normal;
	height:25px;
	line-height:25px;
	width:260px; /*Change this value to change the width of menu items on the nav. menu */
	text-decoration:none;
	text-align:left;

    
    &:hover {
    	background-color:black;
    	color:#5F8EED;
    }

    &:active {
    	position:relative;
    	top:1px;
    }
}
#banner  {
    position: relative;
    top: 0;
    margin-top: 5px;
	height: 150px;
	width: 100%;
	background-image: url('https://thoreauskalendar.org/resources/images/background_test2.png');
	background-repeat: repeat-x;
	overflow: hidden;

    img {
        padding-top: 15px;
        display: block;
        margin: auto;
    }
}
