/* Body Stuff Follows */

#content {
    background: #FFFFFF;
    padding-top: 0;
    width: 100%;
    height: auto;
}
#copy {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 75%;
    text-align: center;
    background: #FFF;
    color: black;

    a {
        color: #00498F;
    }

    p {
        text-align: left;
    }

    ul {
        margin-left: 0;
    }

    li {
        padding-top: 10px;
        list-style: none;
        text-align: left;
        text-indent: -45px;

        &:first-line{
            list-style: none;
            text-align: left;
        }
    }

    h3 {
        color: black;
    }

    span {
        padding-left: 30px;
        display: block;
        text-align: left;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

#main {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #FFFFFF;
}
#intro {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
    text-align: center;
}
#quote {
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: justify;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 10px;

    p {
        text-align: center;
    }
}

body {
  margin-bottom: 120px;
  background-color: white;
  height: 100%;
}
