/* Footer Stuff Follows */

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    color: #808080;

    a {
        color: #9FBCD8;
    }

    div ul li b {
        color: #CBCBCB;
    }

    button {
        background: black;
        color: white;
        margin-left: 5px;
        font-size: 12px;
    }

    input {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    input[placeholder] {
        font-style: normal;
        color: black;
    }
    .turvy {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: left;

    ul {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        list-style: none;

        li {
            list-style: none;
        }
    }
}
}

#lefty {
    width: 40%;
    float: left;

    ul {
        list-style: none;
    }
}
#righty {
    width: 40%;
    float: right;

    ul {
        list-style: none;
    }
}
#nader {
    width: 20%;
    float: left;
}
#search-help {
    position: fixed;
    bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: black;
    z-index: 999;

    span ul li b {
        color: #9FBCD8;
    }

    ul li {
        display: inline-block;
        margin-left: 0;
        margin-right: 20px;
        list-style-type: none;
    }
}
