/* Include Constituent Parts */
/* Header Stuff Follows */
/* Fonts */
/* eb-garamond-regular - latin-ext_latin */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/eb-garamond-v15-latin-ext_latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/eb-garamond-v15-latin-ext_latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/eb-garamond-v15-latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/eb-garamond-v15-latin-ext_latin-regular.woff") format("woff"), url("../fonts/eb-garamond-v15-latin-ext_latin-regular.ttf") format("truetype"), url("../fonts/eb-garamond-v15-latin-ext_latin-regular.svg#EBGaramond") format("svg");
  /* Legacy iOS */
}
* {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

#header {
  position: fixed;
  background-color: gray;
  height: auto;
  padding-bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

#navmainpage {
  position: fixed;
  top: -17px;
  left: -10px;
  padding-top: 0;
  z-index: 9999;
}
#navmainpage ul {
  list-style-type: none;
}
#navmainpage a:hover {
  color: #6BFBF7;
}
#navmainpage span.navarrow {
  color: #6BFBF7;
}

.activenavbutton {
  background-color: #e2e2e2;
  color: black;
}

.navbutton {
  background-color: black;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  text-indent: 5px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  height: 25px;
  line-height: 25px;
  width: 260px;
  /*Change this value to change the width of menu items on the nav. menu */
  text-decoration: none;
  text-align: left;
}
.navbutton:hover {
  background-color: black;
  color: #5F8EED;
}
.navbutton:active {
  position: relative;
  top: 1px;
}

#banner {
  position: relative;
  top: 0;
  margin-top: 5px;
  height: 150px;
  width: 100%;
  background-image: url("../../resources/images/background_test2.png");
  background-repeat: repeat-x;
  overflow: hidden;
}
#banner img {
  padding-top: 15px;
  display: block;
  margin: auto;
}

/* Body Stuff Follows */
#content {
  background: #FFFFFF;
  padding-top: 0;
  width: 100%;
  height: auto;
}

#copy {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 75%;
  text-align: center;
  background: #FFF;
  color: black;
}
#copy a {
  color: #00498F;
}
#copy p {
  text-align: left;
}
#copy ul {
  margin-left: 0;
}
#copy li {
  padding-top: 10px;
  list-style: none;
  text-align: left;
  text-indent: -45px;
}
#copy li:first-line {
  list-style: none;
  text-align: left;
}
#copy h3 {
  color: black;
}
#copy span {
  padding-left: 30px;
  display: block;
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#main {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #FFFFFF;
}

#intro {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 50%;
  text-align: center;
}

#quote {
  font-size: 1.2em;
  line-height: 1.4em;
  text-align: justify;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 10px;
}
#quote p {
  text-align: center;
}

body {
  margin-bottom: 120px;
  background-color: white;
  height: 100%;
}

/* Kalendar Display Stuff Follows */
table {
  border: 1px solid black;
  width: 100%;
  table-layout: fixed;
}
table td {
  border: 1px solid black;
  padding: 3px;
  word-wrap: break-word;
}

date {
  font-weight: bold;
  display: inline;
  position: relative;
}

date::after {
  content: " ";
  white-space: pre;
}

ref a {
  color: #8A4E5D;
}

.pencil {
  box-shadow: inset 0 0 0 1px #13DA13;
}

.pencilHighlight {
  background: #E4FDE4;
}

emph[rend=underline] {
  text-decoration: underline;
}

.place {
  box-shadow: inset 0 0 0 1px #FF7500;
}

placeName.active {
  color: #FF7500;
}

add.active {
  color: #00F;
}

.add {
  box-shadow: inset 0 0 0 1px #00F;
}

add[rend=pencil].active {
  color: green;
}

.addHighlight {
  background: #DBDBFF;
}

persName.active {
  color: #FF0000;
}

.person {
  box-shadow: inset 0 0 0 1px #FF0000;
}

.personHighlight {
  background: #FFC8C8;
}

gap {
  display: inline;
  background: #feece9;
}
gap .hidden {
  display: none;
}

span[type=gap]::before, span[type=gap]::after, span[type=note]::before, span[type=note]::after {
  content: " ";
  white-space: pre;
}

.hidden {
  display: none;
}

unclear {
  border-bottom: 1px dashed #999;
}

note {
  background: rgb(248, 245, 211);
}
note .hidden {
  visibility: hidden;
}
note .active {
  display: inline;
}

.person-title {
  border-style: dotted;
  border-width: 1px;
}

.place-title {
  border-style: dotted;
  border-width: 1px;
}

#search-menu {
  padding-top: 0px;
  width: auto;
  margin: 0 auto;
  background-color: black;
  color: white;
}
#search-menu button {
  padding: 5px;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 12px;
  border: 1px solid #e8e3de;
  margin-left: 5px;
}
#search-menu .red {
  background-color: white;
  color: black;
}
#search-menu .no-matches {
  background-color: grey;
  color: black;
}

#search-menu.sticky {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 99%;
  margin: 0 auto;
  background-color: black;
  color: white;
}

#helpbox {
  display: none;
}

.helpactive {
  position: fixed;
  clear: both;
  width: 40%;
  padding-top: 0;
  background-color: black;
  color: #fff;
  z-index: 1000;
}
.helpactive b {
  color: #9FBCD8;
}
.helpactive ul li {
  list-style-type: none;
}

.alpha {
  background: #f1f6ff;
  background: linear-gradient(to right, #f1f6ff 0%, #edf2fb 41%, #e8edf6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f1f6ff", endColorstr="#e8edf6",GradientType=1 );
}

.redHighlight {
  background: #FFF1E5;
}

.info {
  vertical-align: super;
  font-size: 8px;
}

.hiddenmenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 25px;
  background: black;
  color: white;
  text-align: left;
  padding-top: 3px;
  padding-left: 3px;
  z-index: 999;
}

.blast {
  background-color: #BCE9F3;
}

.searcherror {
  background-color: pink;
}

/* Footer Stuff Follows */
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: black;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  color: #808080;
}
#footer a {
  color: #9FBCD8;
}
#footer div ul li b {
  color: #CBCBCB;
}
#footer button {
  background: black;
  color: white;
  margin-left: 5px;
  font-size: 12px;
}
#footer input {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
#footer input[placeholder] {
  font-style: normal;
  color: black;
}
#footer .turvy {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  float: left;
}
#footer .turvy ul {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
#footer .turvy ul li {
  list-style: none;
}

#lefty {
  width: 40%;
  float: left;
}
#lefty ul {
  list-style: none;
}

#righty {
  width: 40%;
  float: right;
}
#righty ul {
  list-style: none;
}

#nader {
  width: 20%;
  float: left;
}
#nader #alphasearch {
  font-weight: normal;
}
#nader input.horizontal-shake {
  animation: horizontal-shaking 0.5s;
  animation-iteration-count: 2;
}
@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

#search-help {
  position: fixed;
  bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: black;
  z-index: 999;
}
#search-help span ul li b {
  color: #9FBCD8;
}
#search-help ul li {
  display: inline-block;
  margin-left: 0;
  margin-right: 20px;
  list-style-type: none;
}

/*# sourceMappingURL=kalendar.css.map */
